@font-face{
    src: url('/fonts/AlfaSlabOne-Regular.ttf') format('ttf');
    font-family: 'AlfaSlabOne';
    font-weight: 400;
}
@font-face{
    src: url('/fonts/BebasNeue-Regular.ttf') format('ttf');
    font-family: 'Bebas Neue';
    font-weight: 400;
}
@font-face{
    src: url('/fonts/BebasNeueBold.ttf') format('ttf');
    font-family: 'Bebas Neue';
    font-weight: 700;
}
@font-face{
    src: url('/fonts/Montserrat-Bold.ttf') format('ttf');
    font-family: 'Montserrat';
    font-weight: 700;
}
@font-face{
    src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
    font-family: 'Montserrat';
    font-weight: 400;
}