* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none; }

@-webkit-keyframes burgers_amim {
  0% {
    top: 25px; }
  100% {
    top: 5px; } }

@keyframes burgers_amim {
  0% {
    top: 25px; }
  100% {
    top: 5px; } }
@-webkit-keyframes shadow_amim {
  0% {
    width: 100%; }
  100% {
    width: 120%; } }
@keyframes shadow_amim {
  0% {
    width: 100%; }
  100% {
    width: 120%; } }
@font-face {
  src: url("/fonts/AlfaSlabOne-Regular.ttf") format("ttf");
  font-family: "AlfaSlabOne";
  font-weight: 400; }
@font-face {
  src: url("/fonts/BebasNeue-Regular.ttf") format("ttf");
  font-family: "Bebas Neue";
  font-weight: 400; }
@font-face {
  src: url("/fonts/BebasNeueBold.ttf") format("ttf");
  font-family: "Bebas Neue";
  font-weight: 700; }
@font-face {
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
  font-family: "Montserrat";
  font-weight: 700; }
@font-face {
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
  font-family: "Montserrat";
  font-weight: 400; }
.promo {
  height: 818px;
  background: url("/img/HeaderBg.png") center center/cover no-repeat;
  padding: 50px; }
  .promo .promo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .promo .promo-header_logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .promo .promo-header_logo .logo_img {
        margin-right: 20px; }
      .promo .promo-header_logo .logo_h2 {
        font-family: "Bebas Neue";
        font-weight: 700;
        font-size: 40px;
        margin-left: 10px;
        color: #3d2514;
        text-transform: uppercase;
        letter-spacing: 0px;
        margin: 0; }
    .promo .promo-header_nav .nav-delievery_img {
      margin-right: 20px; }
    .promo .promo-header_nav .nav-delievery_text {
      font-family: "Montserrat";
      font-weight: 700;
      letter-spacing: 1px;
      color: #3d2514;
      font-size: 20px;
      text-decoration: none; }
    .promo .promo-header_nav .nav-sec {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px;
      width: 500px; }
      .promo .promo-header_nav .nav-sec_item {
        font-family: "Bebas Neue";
        font-weight: 700;
        letter-spacing: 4px;
        color: #3d2514;
        font-size: 20px;
        text-decoration: none; }
  .promo .promo-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .promo .promo-info .is_active {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      opacity: 1;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .promo .promo-info_week {
      -webkit-transform: translate(-400px);
              transform: translate(-400px);
      opacity: 0; }
      .promo .promo-info_week .week_dscrp {
        margin-top: 100px;
        font-family: "Bebas Neue";
        font-weight: 400;
        color: #3d2514;
        font-size: 40px;
        border: 3px dashed #3d2514;
        padding-left: 5px;
        padding-right: 5px; }
      .promo .promo-info_week .week_burger, .promo .promo-info_week .week_burger_span {
        font-family: "Alfa Slab One";
        font-weight: 700;
        color: #3d2514;
        font-size: 150px;
        width: 100px;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        text-shadow: #fff 3px 6px 0; }
      .promo .promo-info_week .week_burger_span {
        font-size: 100px; }
    .promo .promo-info_combo {
      position: relative;
      -webkit-transform: translate(400px);
              transform: translate(400px);
      opacity: 0; }
      .promo .promo-info_combo .combo_price {
        position: absolute;
        top: 550px;
        right: 480px;
        padding: 7px;
        text-align: center;
        width: 175px;
        height: 175px;
        border-radius: 100%;
        background-color: #bf2222;
        color: #ffffff;
        font-size: 20px;
        font-family: "Bebas Neue";
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 30px; }
        .promo .promo-info_combo .combo_price .bord {
          text-align: center;
          width: 140px;
          height: 140px;
          border: 3px dashed #ffffff;
          border-radius: 100%;
          margin: 0 auto;
          margin-top: 10px;
          padding-top: 30px; }
        .promo .promo-info_combo .combo_price_span {
          margin-top: 3px;
          font-size: 40px;
          -ms-flex-line-pack: center;
              align-content: center; }

.try-today {
  min-height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 80px; }
  .try-today .is_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.try-today_itemHeader {
  margin: 0;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-family: "Bebas Neue"; }

.try-today_itemSubheader {
  margin: 0;
  color: #ffffff;
  text-align: left;
  font-size: 50px;
  font-family: "Bebas Neue";
  line-height: 50px; }

.try-today_popular {
  display: block;
  border: none;
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  opacity: 0;
  width: 600px;
  height: 420px;
  padding: 30px;
  background: url("/img/TryToday/BurgerPopularBg.png") center center/cover no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .try-today_popular:hover {
    cursor: pointer;
    width: 630px;
    height: 430px; }
  .try-today_popular:focus {
    outline: none;
    border: none; }

.try-today_fun {
  display: block;
  border: none;
  margin-left: 40px;
  -webkit-transform: translate(150px, 0);
          transform: translate(150px, 0);
  opacity: 0;
  width: 600px;
  height: 190px;
  padding: 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: url("/img/TryToday/BurgerFunBg.png") center center/cover no-repeat; }
  .try-today_fun:hover {
    cursor: pointer;
    width: 620px;
    height: 200px; }
  .try-today_fun:focus {
    outline: none;
    border: none; }

.try-today_fresh {
  display: block;
  border: none;
  margin-top: 40px;
  margin-left: 40px;
  -webkit-transform: translate(150px, 0);
          transform: translate(150px, 0);
  opacity: 0;
  width: 600px;
  height: 190px;
  padding: 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: url("/img/TryToday/BurgerFreshBg.png") center center/cover no-repeat; }
  .try-today_fresh:hover {
    cursor: pointer;
    width: 620px;
    height: 200px; }
  .try-today_fresh:focus {
    outline: none;
    border: none; }

.is_active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }

.burgers .is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }

.burgers-header {
  text-align: center; }
  .burgers-header .is_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.burgers-header_head {
  -webkit-transform: translate(0, -130px);
          transform: translate(0, -130px);
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #ffc045;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 17px;
  padding-top: 7px;
  width: 220px;
  height: 40px;
  color: #3d2514; }

.burgers-header_sub {
  -webkit-transform: translate(0, -130px);
          transform: translate(0, -130px);
  opacity: 0;
  margin: 0;
  margin-top: 20px;
  color: #3d2514;
  font-family: "Alfa Slab One";
  font-weight: 700;
  font-size: 75px; }

.burgers-header_dscrp {
  -webkit-transform: translate(0, -130px);
          transform: translate(0, -130px);
  opacity: 0;
  margin: 0;
  margin-top: 20px;
  color: rgba(61, 37, 20, 0.3);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px; }

.burgers-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px; }
  .burgers-info .is-active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.burgers-info_block {
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
  opacity: 0;
  padding: 20px 0 20px 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .burgers-info_block:hover {
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    -webkit-box-shadow: -1px 4px 100px 12px rgba(0, 0, 0, 0.097);
            box-shadow: -1px 4px 100px 12px rgba(0, 0, 0, 0.097); }

.burgers-info_name {
  margin: 0;
  margin-top: 450px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 30px;
  color: #3d2514; }

.burgers-info_dscrp {
  margin: 0;
  text-align: center;
  color: #3d2514;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px; }

.burger_img {
  margin-left: 40px;
  position: absolute;
  top: 25px; }
  .burger_img:hover {
    -webkit-animation-name: burgers_amim;
            animation-name: burgers_amim;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    cursor: pointer; }

.burger_shadow {
  position: absolute;
  top: 340px; }

.burgers-info_btn {
  margin: 0 auto;
  margin-top: 50px;
  width: 197px;
  height: 57px;
  background-color: #bf2222;
  padding-top: 17px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Alfa Slab One";
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 3px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .burgers-info_btn:hover {
    cursor: pointer; }

.visit {
  margin-top: 50px; }

.visit-flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.visit-map {
  -webkit-box-shadow: -1px 1px 16px 2px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 16px 2px rgba(0, 0, 0, 0.2); }

.visit-text {
  width: 700px; }

.visit-text_header {
  text-align: center;
  color: #3d2514;
  font-family: "Alfa Slab One";
  font-weight: 700;
  font-size: 25px; }

.visit-text_dscrp {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 23px;
  font-size: 18px; }

.newstler {
  margin-top: 50px;
  padding: 30px;
  background: #2e2d2d;
  min-height: 150px; }

.newstler-flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.newstler-header {
  font-family: "Alfa Slab One";
  font-weight: 700;
  font-size: 20px;
  display: inline;
  color: white; }

.newstler-form {
  display: inline; }

input {
  background: none;
  border: 2px solid #6b6b6b;
  color: #d8d8d8;
  padding: 10px;
  width: 400px;
  height: 60px;
  margin: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  input:hover {
    border: 2px solid #ffffff; }
  input:focus {
    border: none;
    outline: 2px solid #ffffff; }

.newstler-form_btn {
  vertical-align: middle;
  border: none;
  width: 220px;
  height: 60px;
  background-color: #bf2222;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Alfa Slab One";
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 3px; }
  .newstler-form_btn:hover {
    cursor: pointer; }

.footer {
  margin-top: 50px;
  padding: 30px;
  background: #2e2d2d;
  min-height: 150px; }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-icons_link {
  margin-left: 40px; }

.footer-dscr_text {
  padding: 1px;
  color: rgba(255, 255, 255, 0.556);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  display: inline;
  margin: 3px; }

.hr {
  border-right: 1px solid #ffffff; }

.footer-dscrp {
  margin-top: 20px;
  margin-left: 40px; }

/*# sourceMappingURL=style.css.map */