.visit
    margin-top: 50px
.visit-flex_wrap
    display: flex
    justify-content: space-around

.visit-map
    box-shadow: -1px 1px 16px 2px rgba(0, 0, 0, 0.2)
.visit-text
    width: 700px
.visit-text_header
    text-align: center
    color: #3d2514
    font-family: "Alfa Slab One"
    font-weight: 700
    font-size: 25px
.visit-text_dscrp
    font-family: "Montserrat"
    font-weight: 700
    line-height: 23px
    font-size: 18px
